:root{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  --shadow-color: 0deg 0% 49%;
  --shadow-elevation-medium:
    0px 0.3px 0.4px hsl(var(--shadow-color) / 0.08),
    0.1px 1.7px 2.5px -0.1px hsl(var(--shadow-color) / 0.29),
    0.2px 3.7px 5.3px -0.3px hsl(var(--shadow-color) / 0.5),
    0.4px 7.8px 11.2px -0.4px hsl(var(--shadow-color) / 0.71);
  --main-bg-color: #faf6e9;
  --main-dark-bg-color: #444343;
  background-color:   var(--main-bg-color);
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.dark body{
  background-color: #444343;
  color: white;
}
.dark{
  background-color: var(--main-dark-bg-color);
  animation:line-fade 0.5 ease-in-out; 
}

/* Fin estilos globales */

/* Keyframes / scripts */ 

/* Codigo para que no aparezca la X en la barra search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  height: 15px;  
  width: 15px;  
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Fin keyframes*/

.sloganContainer{
  background-color: #345733;
  color: white;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
  justify-content: center;
  height: 35px;
  display: flex;
  font-size: 20px;
  opacity: 76%;
  transition: color 0.5s ease-in-out;
}
.dark .sloganContainer{
  background-color: #3aa13a;
  -webkit-text-stroke: #000;
  transition: color 0.5s ease-in-out;

}
.slogan{
  font-family: italic;
}
.dark .slogan{
  color: white;
}
.infoContainer{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}
.ulNav{
  list-style: none;
  display: flex;
}
.liNav{
  margin-left: 4rem;
}
.navHeaderInfo{
  border-bottom: 1px solid #7c7c7c90;
  margin-top: 10px;
}
.dark .navHeaderInfo{
  border-bottom: 1px solid #7a7a7a;
}
.headBox{
  border-bottom: 1px solid #b4b4b4a4;
  box-shadow: 0px 13px 15px -8px rgba(0,0,0,0.64);
  padding-top: 10px;
  position: relative;
}
.dark .headBox{
  box-shadow: 0px 24px 21px -8px rgba(0,0,0,0.64);
}
.headContainer{
  margin: 2rem 8rem 2rem 8rem;
}
.logo{
  width: 3rem;
  height: 2rem;
}
.ulHeader{
  display: flex;
  justify-content: space-around;
  font-size: larger;
}
.headerList{
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  color: black;
}
.dark .headerList{
  color: white;
}
.headerList:hover{
  color: #538d5d;
  animation: line-fade 0.5s ease-in-out;
}
.dark .headerList:hover{
  color: #3aa13a;
  animation: line-fade 0.5 ease-in-out;
}
#botonSearch:hover{
  background-color: #345733;
  border-color: #345733;
}
.dark #botonSearch{
    color: white;
    border-color: #3aa13a;
}
.dark #botonSearch:hover{
  background-color: #3aa13a;
}




/* seccion principal  */





.carrouselContainer{
    display: grid;
    place-content: center;
    background-color: var(--main-bg-color);
}
.dark .carrouselContainer{
  background-color: #444343;
  color: white;
}
.carousel{
  display: flex;
  justify-content: center;
}   
.contenedor-imgcarrousel{
  display: flex;
}
.imgCarrousel{
  margin-left: 10px;
  height: 27rem
}
#imagenJazmin{
  height: 27rem;
}
.control-arrow:hover{
  background-color: rgb(94, 94, 94) !important;
  opacity: .3 !important;
}
.carrouselInterno{
  margin-top: 80px;
  width: 900px;
}
.thumbs-wrapper{
  display: none;
}
.col{
  color: black;
}
.imgCont{
  padding-top: 5rem;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center; 
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.dark .imgCont{
  background-color: var(--main-dark-bg-color);
}
.containerGrid{
  height: 0;
}
.row{
  padding-top: 100vh;
}
.container-img{
  margin-left: 20px;
  margin-right: 10px;
}
.circle {
  width: 10em;
  height: 10em;
  background-color: rgb(222, 247, 96);
  border-radius: 50%;
}
#circulo-limon{
  background-color: #BFF0D4
}
#circulo-tierra{
  background-color: #B8D8E6;
}
.circle:hover{
  color: rgba(194, 194, 194, 0.294);
  box-shadow: var(--shadow-elevation-medium);
  transform: scale(1.06);
  transition: 0.9s ease-in;
}
.limonRedondo{
  width: 9rem;
  margin: 9px 0 0 9px;
}
.macetaRedonda{
  width: 4rem;
  margin: -8px 0px 31px 49px;
}
.tierraRedonda{
  width: 9rem;
  margin: 16px 0 0 9px

}
.pieImgSeccion{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.dark .pieImgSeccion{
  color: white;
}
.divSeccion{
  display: flex;
}
.fade-in {
  animation: fadeIn ease 2s;
}

/* Fin seccion principal */


/* Comienzo estilos buscador */


.botonBusqueda{
  outline-style: black;
}
.botonBusqueda:focus {
  outline: none;
  box-shadow: none;
}
#form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #198754 ;
}
.search-container{
  position: relative; 
  width: 500px
}
.form-container{
  margin-right: 15px;
  position: relative;
  width: 100%
}

.dropdown {
  border: 1px solid rgba(0, 0, 0, 0.487);
  box-sizing: border-box;
  position: absolute !important;
  top: 100%; 
  z-index: 2;
  color: #000;
  width: 100%;
}

.dropdown:empty{
  display: none;
}

.dropdown-row{
  cursor: pointer;
  text-align: center;
  background-color: white;
  transition: background-color 0.3s ease;
}


.dropdown-row:hover {
  background-color: #345733;
  color: white;
  width: 100%;
}
.dark .dropdown-row:hover{
  background-color: #3aa13a;
}



/* Darkmode */ 



.dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #000;
  transition: color 0.3s ease;
}


.dark .toggle-button {
  color: #fff;
}

