:root{
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  --shadow-elevation-low:
  0.4px 0.6px 0.5px hsl(var(--shadow-color) / 1),
  2px 2.7px 2.5px -5px hsl(var(--shadow-color) / 0.73);
--shadow-elevation-medium:
  0.4px 0.6px 0.5px hsl(var(--shadow-color) / 1),
  9.8px 13.6px 12.6px -5px hsl(var(--shadow-color) / 1);
--shadow-elevation-high:
  0.4px 0.6px 0.5px hsl(var(--shadow-color) / 1),
  7.5px 10.5px 9.7px -2.5px hsl(var(--shadow-color) / 1),
  57.3px 79.8px 73.7px -5px hsl(var(--shadow-color) / 0.85);
  --main-bg-color: #faf6e9;
  background-color:   var(--main-bg-color);
}
body{
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

/* Fin estilos globales */

/* Keyframes / scripts */ 

/* Codigo para que no aparezca la X en la barra search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; 
  height: 15px;  
  width: 15px;  
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Fin keyframes*/

.sloganContainer{
  background-color: #345733;
  color: white;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
  justify-content: center;
  height: 35px;
  display: flex;
  font-size: 20px;
  opacity: 76%;
}
slogan{
  font-family: italic;
}
.infoContainer{
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
}
.ulNav{
  list-style: none;
  display: flex;
}
.liNav{
  margin-left: 4rem;
}
.navHeaderInfo{
  border-bottom: 1px solid #7c7c7c90;
  margin-top: 10px;
}
.headBox{
  border-bottom: 1px solid #b4b4b4a4;
  box-shadow: 0px 13px 15px -8px rgba(0,0,0,0.64);
  padding-top: 10px;
  position: relative;
}
.headContainer{
  margin: 2rem 8rem 2rem 8rem;
}
.logo{
  width: 3rem;
  height: 2rem;
}
.ulHeader{
  display: flex;
  justify-content: space-around;
  font-size: larger;
}
.headerList{
  transition: color 0.5s ease-in-out;
  text-decoration: none;
  color: black;
}
.headerList:hover{
  color: #538d5d;
  animation: line-fade 0.5s ease-in-out;
}
.carrouselContainer{
    display: grid;
    place-content: center;
    background-color: var(--main-bg-color)
}
.carrousel{
  display: flex;
  justify-content: center;
}   
.carrouselInterno{
  margin-top: 80px;
  height: 100vh;
}
.col{
  color: black;
}
.imgCont{
  padding-top: 5rem;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center; 
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.containerGrid{
  height: 0;
}
.row{
  padding-top: 100vh;
}
.imgRedonda{
  opacity: 1;
  margin-left: 3rem;
  height: 12rem;

}
.imgRedonda:hover{
  color: rgba(194, 194, 194, 0.294);
  opacity: .8;
  background-color: var(--main-bg-color);

  box-shadow: var(--shadow-elevation-medium);
  transform: scale(1.06);
  transition: 0.3s ease;

}
.divSeccion{
  display: flex;
}
.pieImgSeccion{
  font-weight: bold;
  text-align: center;
  margin-left: 45px;
}
.fade-in {
  animation: fadeIn ease 2s;
}
.botonBusqueda{
  outline-style: black;
}
.botonBusqueda:focus {
  outline: none;
  box-shadow: none;
}
#form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #198754 ;
}
.search-container{
  position: relative; 
}
.form-containerl{
  margin-right: 10px;
  position: relative;
  width: 100%
}

.dropdown {
  border: 1px solid rgba(0, 0, 0, 0.487);
  box-sizing: border-box;
  position: absolute !important;
  top: 100%; 
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.675);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

.dropdown:hover {
  background-color: rgba(0, 0, 0, 0.386);
}

.dropdown-row:hover {
  color: white;
}